.banner-description{
    background-blend-mode: darken;
    &.none{
        background: transparent;
    }
    &.medium{
        background: rgb(42, 42, 42);
        background: linear-gradient(100deg, rgba(42, 42, 42, 0.4990371148459384) 50%, rgba(255, 255, 255, 0.14889705882352944) 100%);
    }
    &.high{
        background: rgb(42, 42, 42);
        background: linear-gradient(100deg, rgba(26, 26, 26, 0.499) 50%, rgba(255, 255, 255, 0.14889705882352944) 100%);
    }
}
