#nav-wrapper {
    height: 80px;
    @media (min-width: 640px) {
        height: 100px;
    }

    &:after {
        height: 100%;
        width: 100%;
        display: block;
        background: transparent;
        position: relative;
        content: ' ';
    }

    nav {
        height: 80px;

        @media (min-width: 640px) {
            height: 100px;
        }

        &.scrollUp {
            transform: translateY(-100px)
        }

        ul#menu{
            li {
                a::after{
                    content: ' ';
                }
            }
        }

    }
    #menu-wrapper.show {
        display: block !important;
    }
}
