#mock-1 {
    max-width: 1920px;
    margin: auto;

    .layout {
        .outer {
            position: relative;
            overflow: hidden;

            img.partial {
                position: absolute;

                &.cloud-top-1 {
                    z-index: 12;
                    left: 0px;
                    top: 0px;
                    width: 0px;
                    height: 0px;

                    @media (min-width: 768px) {
                        @include partialLayout(186px, 53px, 235px, 143px);
                    }

                    @media (min-width: 1024px) {
                        @include partialLayout(249px, 70px, 313px, 191px);
                    }

                    @media (min-width: 1366px) {
                        @include partialLayout(323px, 95px, 418px, 255px);
                    }

                    @media (min-width: 1440px) {
                        @include partialLayout(350px, 100px, 441px, 269px);
                    }

                    @media (min-width: 1536px) {
                        @include partialLayout(374px, 107px, 470px, 287px);
                    }

                    @media (min-width: 1920px) {
                        @include partialLayout(471px, 134px, 588px, 359px);
                    }

                    -webkit-animation: moveclouds 8s linear -10s infinite alternate forwards;
                }

                &.cloud-top-2 {
                    z-index: 12;
                    left: 0px;
                    top: 0px;
                    width: 0px;
                    height: 0px;

                    @media (min-width: 768px) {
                        @include partialLayout(436px, 181px, 306px, 206px);
                    }

                    @media (min-width: 1024px) {
                        @include partialLayout(582px, 241px, 408px, 275px);
                    }

                    @media (min-width: 1366px) {
                        @include partialLayout(776px, 323px, 544px, 366px);
                    }

                    @media (min-width: 1440px) {
                        @include partialLayout(818px, 340px, 573px, 386px);
                    }

                    @media (min-width: 1536px) {
                        @include partialLayout(873px, 363px, 611px, 412px);
                    }

                    @media (min-width: 1920px) {
                        @include partialLayout(1029px, 454px, 764px, 515px);
                    }

                    -webkit-animation: moveclouds 5s linear -5s infinite alternate-reverse;
                }

                &.plane {
                    z-index: 13;
                    left: 0px;
                    top: 0px;
                    width: 0px;
                    height: 0px;

                    @media (min-width: 768px) {
                        @include partialLayout(454px, 169px, 117px, 55px);
                    }

                    @media (min-width: 1024px) {
                        @include partialLayout(606px, 225px, 156px, 73px);
                    }

                    @media (min-width: 1366px) {
                        @include partialLayout(839px, 288px, 208px, 98px);
                    }

                    @media (min-width: 1440px) {
                        @include partialLayout(853px, 317px, 219px, 103px);
                    }

                    @media (min-width: 1536px) {
                        @include partialLayout(910px, 338px, 234px, 110px);
                    }

                    @media (min-width: 1920px) {
                        @include partialLayout(1138px, 423px, 293px, 138px);
                    }

                    -webkit-animation: planescale 5s ease-in-out infinite;
                }

                &.baloon {
                    left: 0px;
                    top: 0px;
                    width: 0px;
                    height: 0px;
                    z-index: 11;

                    @media (min-width: 768px) {
                        @include partialLayout(359px, 78px, 48px, 60px);
                    }

                    @media (min-width: 1024px) {
                        @include partialLayout(479px, 104px, 64px, 80px);
                    }

                    @media (min-width: 1366px) {
                        @include partialLayout(638px, 138px, 85px, 107px);
                    }

                    @media (min-width: 1440px) {
                        @include partialLayout(672px, 145px, 90px, 113px);
                    }

                    @media (min-width: 1536px) {
                        @include partialLayout(717px, 154px, 96px, 121px);
                    }

                    @media (min-width: 1920px) {
                        @include partialLayout(897px, 193px, 120px, 151px);
                    }

                    -webkit-animation: movebaloon 10s linear -10s infinite alternate forwards;
                }

                &.cloud-bottom-1 {
                    left: 0px;
                    top: 0px;
                    width: 0px;
                    height: 0px;
                    z-index: 11;

                    @media (min-width: 768px) {
                        @include partialLayout(148px, 473px, 255px, 161px);
                    }

                    @media (min-width: 1024px) {
                        @include partialLayout(198px, 630px, 340px, 215px);
                    }

                    @media (min-width: 1366px) {
                        @include partialLayout(264px, 842px, 454px, 287px);
                    }

                    @media (min-width: 1440px) {
                        @include partialLayout(278px, 887px, 479px, 303px);
                    }

                    @media (min-width: 1536px) {
                        @include partialLayout(297px, 946px, 511px, 323px);
                    }

                    @media (min-width: 1920px) {
                        @include partialLayout(372px, 1183px, 639px, 404px);
                    }

                    -webkit-animation: moveclouds 7s linear -10s infinite alternate forwards;
                }

                &.cloud-bottom-2 {
                    left: 0px;
                    top: 0px;
                    width: 0px;
                    height: 0px;
                    z-index: 11;

                    @media (min-width: 768px) {
                        @include partialLayout(364px, 448px, 297px, 184px);
                    }

                    @media (min-width: 1024px) {
                        @include partialLayout(486px, 597px, 396px, 245px);
                    }

                    @media (min-width: 1366px) {
                        @include partialLayout(648px, 797px, 529px, 327px);
                    }

                    @media (min-width: 1440px) {
                        @include partialLayout(683px, 839px, 558px, 345px);
                    }

                    @media (min-width: 1536px) {
                        @include partialLayout(729px, 895px, 595px, 368px);
                    }

                    @media (min-width: 1920px) {
                        @include partialLayout(912px, 1119px, 774px, 460px);
                    }

                    -webkit-animation: moveclouds 4s linear -5s infinite alternate-reverse;
                }

            }

            .text-open {
                left: 0px;
                top: 0px;

                @media (min-width: 768px) {
                    left: 112px;
                    top: 92px;
                }

                @media (min-width: 1024px) {
                    left: 150px;
                    top: 123px;
                    font-size: 54px;
                    max-width: 325px;
                }

                @media (min-width: 1366px) {
                    left: 200px;
                    top: 168px;
                }

                @media (min-width: 1440px) {
                    left: 211px;
                    top: 174px;
                    font-size: 57px;
                    max-width: 375px;
                }

                @media (min-width: 1536px) {
                    left: 225px;
                    top: 186px;
                    font-size: 61px;
                    max-width: 400px;
                }

                @media (min-width: 1920px) {
                    left: 282px;
                    top: 233px;
                    font-size: 76px;
                    max-width: 500px;
                }

                width: 100%;
                max-width: 200px;
                position: absolute;
                z-index: 13;
                text-align: center;
                font-size: 35px;
                font-weight: 800;
                line-height: 1.05;
            }

            &:before {
                display: block;
                content: "";
                width: 100%;
                padding-top: (498 / 427) * 100%;
            }

            >.inner {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }

    .reds {
        .outer {
            position: relative;

            &:before {
                display: block;
                content: "";
                width: 100%;
                padding-top: (482 / 1281) * 100%;
            }

            >.inner {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }

    .foots {
        .outer {
            position: relative;

            &:before {
                display: block;
                content: "";
                width: 100%;
                padding-top: (1058 / 1281) * 100%;
            }

            >.inner {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }
}
